<div class="container" id="page-content">
  <h2 class="text-to-center"><%= @article.title %></h2>
  <div class="card text-center shadow-sm mb-5 bg-white rounded">
    <div class="card-header font-italic">
      by <%= @article.user.username if @article.user %>
      <%= link_to gravatar_for(@article.user, size: 50), user_path(@article.user) %>
    </div>

    <div>
      <% if @article.categories.any? %>
      <p>Categories: <%= render @article.categories %></p>
      <% end %>
    </div>

    <div class="card-body">
      <div class="card-text text-left"><%= simple_format(@article.description) %></div>
      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
        <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <small>
        Created <%= time_ago_in_words(@article.created_at) %> ago,
        edited <%= time_ago_in_words(@article.updated_at) %> ago
      </small>
    </div>
  </div>
  <div class="mb-3">
  <%= link_to '< Back', articles_path, class: "navb" %>
  </div>
</div>