<div class="container" id="page-content">

  <section class="sec-cntr">
    <div class="nav-center">
      <%= gravatar_for @user, size: 35 %>
    </div>
    <div class="nav-center">
      <h1 class="text-to-center"><%= @user.username %>'s profile</h1>
    </div>
  </section>

  <section class="sec-cntr">
    <% if logged_in? && (@user == current_user || current_user.admin?) %>
      <div class="nav-center">
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-info" %>
      </div>
    <% end %>
    <% if logged_in? && current_user.admin? %>
      <div class="nav-center">
        <%= link_to "Delete", user_path(@user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure you want to delete the user and all their articles?" } %>
      </div>
    <% end %>
  </section>

  <h3 class="text-to-center">Articles</h3>

  <div class="digg_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

  <%= render 'articles/article' %>

  <div class="digg_pagination mb">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>